$basic-white: #ffffff;
$basic-grey: rgba(28, 28, 28, 1);
$basic-black: #000000;
$yellow: #f2dd2a;

$font-primary: "Fira Mono", "Consolas", monospace;
$font-secondary: "Anonymous Pro", "Consolas", monospace;

$tablet-width: 1023px;
$mobile-width: 767px;
